.carousel {
    position: relative;
    max-width: 600px;
    margin: auto; 
    overflow: hidden; 
}

.carousel-images {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
.carousel-images .carousel-image {
    display: none;
    mix-blend-mode: screen;
    width: 7vw; 
    height: 7vh; 
    padding: 2em; 
    border: solid black; 
}

.carousel-button {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem; 
    z-index: 100; 
}

.prev {
    left: 1rem;
    background: rgba(253, 254, 255, 0.30);
}

.next {
    right: 1rem;
    background: rgba(253, 254, 255, 0.30);
}


.carousel-images .carousel-image:first-child {
    display: block;
}