/* Header */
header {
    padding: 10px 20px; /* Padding around the header */
    display: flex; /* Using flexbox for layout */
    justify-content: space-between; /* Space out child elements evenly */
    align-items: center;
    background: rgba(255, 255, 255, 0.30); /* Semi-transparent white background for the header */
}

.headerText {
    color: #FFF; /* White text color */
    font-family: Inter; /* Font family set to Inter */
    font-size: 20px; /* Font size */
    font-style: normal; /* Normal font style */
    font-weight: 700; /* Bold font weight */
    line-height: normal; /* Normal line height */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable item */
    transition: 0.5s; /* Transition effect for hover action */
}

.headerText:hover {
    opacity: 0.9; /* Slightly reduce opacity on hover */
    text-decoration: underline; /* Underline text on hover */
}

.logo {
    width: 200px; /* Width of the logo */
    height: 100px; /* Height of the logo */
    margin-top: 10px; /* Top margin for the logo */
    margin-left: 20px; /* Left margin for the logo */
    mix-blend-mode: screen; /* Blend mode for the logo */
}
