.mainPage {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.weatherSummaryContainer
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.locationInput{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

/* Styles for editable areas */
.editableArea {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
}
/* Styles for selectable areas */
.selectableArea {
    margin: 0.25rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    z-index: 1;
    row-gap: 0.25rem;
}

.selectable {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Styles for icons */
.icon {
	cursor: pointer;
}


/*Weather */

/* Styles for the weather widget */
.Weather{
    text-align: center;
    padding: 2vw;
}

/* Styles for location text in weather widget */
.Weather .locationText, input {
    color: #FFF;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for date text in weather widget */ 
.Weather .dateText {
    color: #FFF;
    
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for temperature text in weather widget */
.Weather .tempText {
    color: #FFF;
    
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for description text in weather widget */
.Weather .descriptionText {
    color: #FFF;
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



/*Vehicle Widget */

 /* Styles for the vehicle widget */
.vehicleWidget {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    flex: 1;
    text-align: center;
    padding: 1em;

}

/* Styles for vehicle text in vehicle widget */
.vehicleText {
    color: #FFF;
    text-align: center;
    flex: 1;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Advice Widget */

/* Styles for the advice widget */
.weatherWidget {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.arrow {
    font-size: 4rem;
    cursor: pointer;
    color: white;
}

/* Styles for advice text in advice widget */
.adviceWidget {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    flex: 1;
}




.arrow, img, input {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.vehicleSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}



input {
    border: 1px solid white;
    border-radius: 0.5rem;
}