.mainPage {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    min-height: 100vh;
    padding-bottom: 1rem;
}

.weatherSummaryContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}


.editableArea {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
}

.selectableArea {
    margin: 0.25rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    z-index: 1;
    row-gap: 0.25rem;
}

.selectable {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Styles for icons */
.icon {
	cursor: pointer;
}


/*Weather */

/* Styles for the weather widget */
.Weather{
    text-align: center;
    padding: 2vw;
}

/* Styles for location text in weather widget */
.locationText, input {
    color: #FFF;
    background-color: transparent;
    border: none;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for date text in weather widget */ 
.dateText {
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for temperature text in weather widget */
.tempText {
    color: #FFF;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for description text in weather widget */
.descriptionText {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



/*Vehicle Widget */

 /* Styles for the vehicle widget */
.vehicleWidget {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    flex: 1;
    text-align: center;
    padding: 1em;

}

/* Styles for vehicle text in vehicle widget */
.vehicleText, .adviceTitle {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Styles for the advice widget */
.weatherWidget {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.arrow {
    font-size: 4rem;
    cursor: pointer;
    color: white;
}

/* Styles for advice text in advice widget */
.adviceWidget {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    flex: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-flow: column;
    row-gap: 1rem;
}

.adviceSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
}




.arrow, img, input {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.vehicleSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}



input[type='input'] {
    border: 1px solid white;
    border-radius: 0.5rem;
    text-align: center;
    width: 75%;
}


.mapSection {
    display: flex;
    justify-content: center;
}

a {
    color: white;
}



.side-by-side-section {
    display: flex;
    column-gap: 2rem;
}


@media screen and (max-width: 700px) {
    .side-by-side-section {
        flex-direction: column;
        row-gap: 2rem;
    }
}