/* Main grid layout for various components */
main {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.Weather div
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.locationInput{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

/* Styles for editable areas */
.editableArea {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
}
/* Styles for selectable areas */
.selectableArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Styles for icons */
.icon {
	cursor: pointer;
}


/* Styles for arrow icons */
.arrow{
    height: 40%;
    padding: 1em;
}


/* Styles for map text */
.mapText {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    padding: 0.3em;

}

/* Styles for map legend */
.mapLegend {
	background: white;
	padding: 1rem;
	display: flex;
	flex-flow: column;
}

/* Styles for map legend heading */
.mapLegendHeading {
	align-self: center;
}

/* Styles for individual legend fields */
.mapLegendField {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

/* Styles for icons in legend fields */
.mapLegendField i {
	width: 1vw;
	height: 1vh;
}

/*Weather */

/* Styles for the weather widget */
.Weather{
    flex: 3;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

/* Styles for location text in weather widget */
.Weather .locationText {
    color: #FFF;
    text-align: center;
    
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for date text in weather widget */ 
.Weather .dateText {
    color: #FFF;
    
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for temperature text in weather widget */
.Weather .tempText {
    color: #FFF;
    
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Styles for description text in weather widget */
.Weather .descriptionText {
    color: #FFF;
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/*Warning Widget*/

/* Styles for the warnings widget */
.warningsWidget {
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    flex: 1;
    text-align: center;
    padding: 0.5vw;
    overflow: hidden;
}

/* Styles for warnings title */
.warningsTitle {
    color: #FCFCFC;
    text-align: center;
    
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    height: fit-content;
}

/* Styles for individual warnings */
.warning{
    display:flex;
    padding:1.5em;
    overflow: hidden;
}

/* Styles for warnings text */ 
.warningsText {
    width: 90%;
    height: 100%;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
}

/* Styles for warnings symbols */
.warningsSymbol {
    width: 2vw;
    height: 2vh;
    flex-shrink: 0;
    background: url("assets/warningSymbol.png"), lightgray 50% / cover no-repeat, lightgray 50% / cover no-repeat;
    mix-blend-mode: screen;
    padding-right: 0.5rem;
}


/*Vehicle Widget */

 /* Styles for the vehicle widget */
.vehicleWidget {
    grid-area:vehicle;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    flex: 1;
    text-align: center;
    padding: 1em;
}

/* Styles for vehicle text in vehicle widget */
.vehicleText {
    color: #FFF;
    text-align: center;
    
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Advice Widget */

/* Styles for the advice widget */
.weatherWidget {
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Styles for advice text in advice widget */
.adviceText {
    display: block; /* or 'flex' if you want the parent itself to be a flex container */
    width: 100%; /* or any specific size */
    height: auto;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    height:fit-content ;
}