.map-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
}

.mapLegendContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    background-color: white;
    padding: 1rem;
}

.legendItem {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}


.colourBox {
    width: 10px;
    height: 10px;
}


.city-label {
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    pointer-events: auto;
    cursor: pointer;
    width: unset !important;
    height: unset !important;
    padding: 0.125rem;
    display: flex;
    column-gap: 0.5rem;
}

.side-panel {
    display: flex;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    color: white;
}

.detailed-city-info-section-container {
    overflow-x: scroll;
}

.detailed-city-info-section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow-x: scroll;
    text-align: center;
}


.close-icon {
    margin: 0.5rem;
}

.draggable-section {
    flex: 1;
    min-width: 10px;
    height: 100vh;
    background-color: black;
    cursor: ew-resize;
}


.clickable {
    cursor: pointer;
}



@media screen and (max-width: 650px) {
    .side-panel {
        min-width: 100vw;
    }

    .draggable-section {
        display: none;
    }
}