.RecommendationsPageContainer {
    display: flex; 
    width: 98vw; 
    height: 90vh; 
    column-gap: 20px; 
}


.adviceContainer {
    flex: 3;
    border-radius: 50px; 
    background: rgba(255, 253, 253, 0.3); 
    margin: 1em;
    overflow: hidden; 
}


.warningsContainer {
    flex: 2; 
    border-radius: 50px; 
    background: rgba(253, 254, 255, 0.30); 
    margin: 1em; 
}


.RecommendationsPageContainer p {
    color: #FFF;
    font-family: Inter; 
    font-size: 24px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    margin: 1em; 
}